# Node
node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# MLflow
mlruns/
mlflow.db

# Checkpoints, modelos e data
collected-data*/
checkpoint/
checkpoints/
fonts/
*.pt
*.pth

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db